{:deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
        cljsjs/react {:mvn/version "17.0.2-0"}
        cljsjs/react-dom {:mvn/version "17.0.2-0"}
        reagent {:mvn/version "1.2.0"}
        com.bhauman/figwheel-main {:mvn/version "0.2.18"}
        cljsjs/pixi {:mvn/version "6.5.8-0"}
        cljsjs/howler {:mvn/version "2.0.5-0"}}
 :paths ["src" "target" "resources"]}
